<!DOCTYPE html>
<html>

  <head>
              
       <title>Match</title>
       <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="style.css"> <!--EXTERNAL STYLESHET-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Spartan:wght@300&display=swap" rel="stylesheet">
  </head>
     
<body>


  <div class="container"> 
    <div class="navbar">
    <a href="signIn.html">Sign In</a>
    <a href="profile.html">Profile </a>
    <a href="matchdev.html">Find Matches</a>
  </div>
</div>

  <div class="matchdev">
  <h1>Developers</h1>
  </div>

  <section id="john">
  <h4>Name: Jane Doe </h4>
  <h4>Description: Front-end developer, 3rd year software engineering student.</h4>
  <h4>Location: Toronto, ON</h4>
  <h4>Skills: Java, C#, Bootstrap</h4>
  <a href="JaneDoe.html"> <button>Learn More</button></a>

  </section>


<section id=matt>
    <h4><B>Name: </B>Matt Flanagan </h4>
    <h4><B>Description: </B>UI/UX expert, 4th year comp-sci student.</h4>
    <h4><B>Location: </B>Vancouver, BC</h4>
    <h4><B>Skills: </B>Blockchain, React, Teamwork</h4>
    <a href="MattF.html"> <button>Learn More</button></a>
    </section>
    
    <section id=jen>
      <h4><B>Name: </B>Jen Halle </h4>
      <h4><B>Description: </B>Web developer at IBM</h4>
      <h4><B>Location: </B>Washington, DC</h4>
      <h4><B>Skills: </B>User experience, API, Java</h4>

      </section>
  </body>

</html>