
<div class="container">
    <html>
        
        <style>
          Body{  font-family:Verdana, Geneva, Tahoma, sans-serif;
          background-color:white;
          }
        label1{
            background-color:lightskyblue;
            padding: 10%;
            font-size:larger;
            padding-right: 50%;
            padding-left: 50%;
              }
              label2{
                  padding-top: 100em;
                  margin-top: 50%;
              }
        
        </style>
       <center> <title>Match</title></center>
<center><label1>Developer</label1></center>

<label2>Name: </label2>


</div>
</html>
</div>