
<div class="container">
    <html>
        <title>Match</title>
        <style>
          Body{  font-family:Georgia, 'Times New Roman', Times, serif;
          background-color:white;
          }
        label1{
            background-color:lightskyblue;
            padding: 10%;
            font-size:larger;
            padding-right: 50%;
            padding-left: 50%;
              }
              label2{
                  margin: 50px;
              }
        
        </style>
<center><label1>Developer</label1></center>
<label2>Name: </label2>
        
</div>
</html>
</div>