<!DOCTYPE html>
<div class="container">
    <html>
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Spartan:wght@300&display=swap" rel="stylesheet">


                <title>Reviews</title>
            
        </head>
        <body>
            <div class="navbar">
                <a href="signIn.html">Sign In</a>
                <a href="reviewPage.html">Reviews</a>
                <a href="matchdev.html">Find Matches</a>
                <a href="reviewPage.html">Reviews</a>
             </div>
            <div id="top">
                <h1 id="name">Jane Doe</h1>
                <h2 id="role">Role: Software Developper</h2>
                <h2 id="age">Age: 19</h2>
                <h2 id="about">About: 2nd Year Software Engineering Student at Western University</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </body>
    </html>
</div>    